*,
*, ::after
*, ::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#Home{
    padding-top: 15%;
}
section{
    padding: 10%;
}
body{
   background-color: #F1FAEE;
   font-family: "Inika", sans-serif;
   color:black;
   max-width: 100vw;
   
   
}
.full-height{
    /* min-height: 100vh; */
    height: 100%;
    border-bottom: 1px solid #1D3557;
}

 #About{
    background-color: white;
}

#Skills{
    background-color: white;
}

#Projects{
    background-color: white;
}

#About p{
    font-style: italic;

}
.navbar {
    background-color: #1D3557;; 
    color: white; 
  }

.navbar a {
    color: white; 
    text-decoration: none;
    margin-left: 20px; 
  }

.navbar a:hover {
    color: #A8A7A7; 
  }


#me{
    margin-top: 3%;
    margin-left: 10%;
    width: 20%;
    aspect-ratio: 1/1;
}

img[alt='logo'] {
    width: 5rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

h1 {
   margin-left: 40%;
   margin-top: -20%;
}

h2{
   margin-left: 40%;
  margin-top: 4%;
} 

#firstcolumn{
    padding: 3%;
    border-radius: 1rem;
    background-color: #1D3557;
    color: white;   
}

#secondcolumn{
    padding: 3%;
    border-radius: 1rem;
    background-color: #1D3557;
    color: white;   
}

#rowthree{
    padding: 3%;
    border-radius: 1rem;
    background-color: #1D3557;
    color: white;
    
}
.card{
    background-color: #1D3557;
    color: white;
}

.card img{
    height: fit-content;
}

#Communication{
    height: 200px;
}


#typeofphase{
    font-style: italic;  
}

.card {
    margin-bottom: 20px; 
}

form {
    margin-top: 200px;
  }

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  button:hover {
    background-color: #0056b3;
  } 

.button-container {
    
    color: #1D3557;
    display: flex;
    justify-content: space-between;
}

.button-container button {
    background-color: #F1FAEE;
    margin-right: 30px;
}

  
.text {
    font-style: italic; 
    padding: 20px;  
    scroll-snap-align: start; 
    position: relative;
    color: white;
}

.back {
  /* height:13rem; */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color:  #1D3557;
  padding: 20px;
  border-radius: 5px;
}

.back p{

}

.text:hover .back {
    width: 13rem;
  display: block;
}

#yakupha{
    width: 130px;
    border-radius: 5rem;
    border-color: #1D3557;
    border-style: groove;
}

#joel{
    width: 160px;
    border-radius: 5rem;
    border-color: #1D3557;
    border-style: groove;
}
  

  
 footer{
    padding: 10px 20px;
    height: 80px;
    background-color: #1D3557;; 
    color: white; 

 }

 